<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>kmeans</title>
    <link rel="stylesheet" href="/static/page1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
</style>
<body>

    <h1 class="test" style="font-family: Poppins; font-weight: 700;">User based Recommendation System</h1>
     <img src="/static/film.jpg">
    <br>
    <label for="select">Enter your favorite film :</label>


    <form action="result1" method="post">

        <br>
        <input type="text" name="name_input" id = 'movie'>
        <br>
        <input type="submit" class="submit" value="Recommend" id="submit">
        {% for message in get_flashed_messages() %}
             <p id="new">{{ message  }}</p>
         {% endfor %}
    </form>
</body>
</html>