<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recommendation system</title>
    <link rel="stylesheet" href="/static/page1.css">
</head>
<body>

    <h1 class="test">Kmeans movie Recommendation system </h1>
     <img src="/static/film.jpg">
    <br>
    <label for="select">Enter the id of the user</label>
 
    <form action="result2" method="post">

        <br>
        <input type="text" name="name_input" id = 'movie'>
        <br>
        <input type="submit" class="submit" value="Recommend" id="submit">
        {% for message in get_flashed_messages() %}
             <p id="new">{{ message  }}</p>
         {% endfor %}
    </form>
</body>
</html>