<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recommendation system</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<h1>Mobies Recommendation System </h1>
<a href=UserBased ><button class=but style="margin-left: 50px;" >User Based algorithm</button></a>
<a href=kmeans ><button class=but style="margin-left: 100px; "> Kmeans</button></a>
<a href=knn ><button class=but style="margin-left: 150px;"> Knn</button></a>
<a href=mlp ><button class=but style="margin-left: 200px;"> MLP</button></a>

</body>
</html>